{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="card card-body">
            <h1>Hello. It's {{ day_string }} today.</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    {% for row in table_header %}
                        <th>{{ row }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for rows in table_content %}
                    <tr>
                        {% for col in rows %}
                            <td>
                                <div class="custom-small-font">
                                    {% if col[0] != '' %}
                                        <a href="{{ col[0] }}">
                                    {% endif %}
                                    {{ col[1] }}
                                    {% if col[0] != '' %}
                                        </a>
                                    {% endif %}

                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
